<div class="bg-white pt-12 pl-12">
  <h3 class="text-2xl text-gray-900 font-bold">Classification</h3>
  <div class="mt-4">
    <div class="sm:hidden">
      <label for="current-tab" class="sr-only">Select a tab</label>
      <select id="current-tab" name="current-tab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option>Dispositions</option>
        <option>Priorities</option>
        <option selected>Call Types</option>
      </select>
    </div>
    <!-- Tabs at small breakpoint and up -->
    <div class="hidden sm:block">
      <nav class="-mb-px flex">
        <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
        <a href="#" class="border-transparent text-gray-400 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-2 pr-5 border-b-2 text-sm">
          Dispositions </a>
        <a href="#" class="border-transparent text-gray-400 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-2 px-5 border-b-2 text-sm">
          Priorities </a>
        <%= link_to "Call Types", call_types_classifications_path, class: "border-indigo-500 text-indigo-600 whitespace-nowrap pb-2 px-5 border-b-2 text-sm", html: { "aria-current" => "page" } %>
      </nav>
    </div>
  </div>
</div>
